<div class="card my-2">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Durée de la partie pour vous</th>
          <th scope="col">Nombre de joueurs éliminé</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ match.position }}</td>
          <td>{{ match.lastRound }}</td>
          <td>{{ match.playersEliminated }}</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Joueur</th>
          <th scope="col">Rang</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let participant of match.participants">
          <td>{{ participant.position }}</td>
          <td>{{ participant.name }}</td>
          <td>{{ participant.tier }} {{ participant.rank }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  